body {
	background-repeat:no-repeat;
    background-size:cover;
    min-height: 100%;
    transition: all 1s ease-in-out;
}


nav.semi-transparent{
	background-color: rgba(0,0,0,0.8);
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

#slider img{
	
	display: block;
  	width: 100%;
   position: absolute;
   top:-100%; left:0; right: 0; bottom:-100%;
   margin: auto;
   
}

#index {
	background-color: black;
	height: 100%;
	overflow: hidden;
	vertical-align: middle;
}

#album a {
	display: block;
	width: 25%;
	background-repeat:no-repeat;
    background-position: center center;
    float: left;
    vertical-align: middle;
    background-image: url("../img/default.gif");
}


#album a img {
	display: block;
	width: 100%;
	visibility: hidden;
}

#album a.loaded img {
	visibility: hidden;
}

#album span{
	display: block;
	background-size:cover;
	background-repeat: no-repeat;	
}

.dropdown-menu > li > a {
	color: #ffffff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #ffffff;
	background-color: #333333;
}

.dropdown-menu {
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

